.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.button-active {
  background-color: greenyellow;
}
.task-complete {
  opacity: 0.5;
}
